@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme static {
  --color-primary: var(--theme-primary);
  --color-gradient-1: var(--theme-gradient-1);
  --color-gradient-2: var(--theme-gradient-2);
  --color-gradient-3: var(--theme-gradient-3);
  --color-gradient-4: var(--theme-gradient-4);
  --font-primary: var(--theme-headings);
  --font-secondary: var(--theme-body);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-secondary);
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .header-author {
  font-family: var(--font-primary);
  font-weight: 200;
  text-decoration: none;
  }
}

@layer components {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.05em;
  }

  .prose h1 { font-size: 2.25rem; }
  .prose h2 { font-size: 1.875rem; }
  .prose h3 { font-size: 1.5rem; }
  .prose h4 { font-size: 1.25rem; }
  .prose h5 { font-size: 1.125rem; }
  .prose h6 { font-size: 1rem; }

  .prose p {
    font-family: var(--font-secondary);
    margin-bottom: 1rem;
  }
}
